* {
    box-sizing: border-box;
}
.header {
    background-color: #1d2126;
    color: #a4aead;
}

/* mobile - xs  */
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    align-content: center;
}
.row-header {
    height: 81px;
}
.menu {
    display: flex;
    overflow-x: scroll;
    font-size: 14px;
}
.menu > li {
    border: 1px solid #1d2126;
    border-radius: 5px;
    margin-right: 10px;
}
.menu > li:hover {
    border: 1px solid #575d64;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.menu > li:active {
    border: 1px solid #39a493;
    border-radius: 5px;
}
.menu > li > a {
    display: block;
    padding: 8px 9px;
    text-decoration: none;
    color: #a4aead;
}
.menu > li > a:active {
    color: #39a493;
}
.search {
    border: 1px solid #3c4147;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}
.form-search {
    display: flex;
    padding: 4px 8px;
}
.form-search input {
    background-color: transparent;
    border: none;
    width: 150px;
    outline: none;
    color: #a4aead;
}
.form-search button {
    height: 25px;
    width: 30px;
    border: none;
    background-image: url(images/seacrh.png);
    background-repeat: none;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}
.slide1-cover {
    min-height: 660px;
    background-image: url(images/slide1.png);
    background-size: cover;
    background-position: center center;
}
.slide1-row {
    justify-content: center;
}
.slide1-main > div {
    margin-left: -15px;
    margin-right: -15px;
}
.slide1-main {
    min-height: 660px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}
.slide1-btn {
    align-self: center;
}
.quattrocento {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.regular-text {
    color: #a4aead;
    font-size: 16px;
}
.button {
    width: 110px;
    height: 40px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
    margin-right: 11px;
}
.button a {
    color: white;
    text-decoration: none;
    padding: 9px 9px;
}
.button:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
    transition: all 0.4s ease-in-out;
}
.slider-buttons {
    position: relative;
    top: 5px;
    text-align: center;
}
.slider-buttons > button {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 100px;
    height: 14px;
    width: 10px;
}
.slider-buttons > button:active {
    background-color: white;
}
.slide2-row {
    min-height: 620px;
}
.row-indent {
    display: flex;
    margin-top: 10px;
}
.indent {
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    margin-right: 14px;
    margin-bottom: 30px;
}
.slide2-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.slide2-content {
    display: flex;
    flex-wrap: wrap;
}
span {
    font-weight: bold;
    color: #8d8f92;
}
.btn-row {
    text-align: center;
}
.button-slide2 {
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c8cdd0;
    padding: 0;
    margin-right: -3px;
}
.button-slide2:hover {
    background-color: #39a493;
    transition: all 0.4s ease-in-out;
}
.button-slide2 a {
    padding: 19px 29px;
}
.button-fb {
    background-image: url(./images/facebook.png);
    background-repeat: none;
    background-position: center;
}
.button-twitter {
    background-image: url(./images/twitter.png);
    background-repeat: none;
    background-position: center;
}
.button-google {
    background-image: url(./images/google.png);
    background-repeat: none;
    background-position: center;
}
.button-ball {
    background-image: url(./images/ball.png);
    background-repeat: none;
    background-position: center;
}
.button-be {
    background-image: url(./images/be.png);
    background-repeat: none;
    background-position: center;
}
.button-in {
    background-image: url(./images/linkedin.png);
    background-repeat: none;
    background-position: center;
}
.slide2-list {
    margin-top: 40px;
}
.row-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.green-bg {
    height: 50px;
    min-width: 50px;
    background-color: #23b7a4;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}
.quattrocento-smaller {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
hr {
    margin: 0;
    color: #dde1e4;
}
.slide3-row {
    min-height: 650px;    
}
.employee-photo {    
    margin: 10px auto 0px auto;
    height: 375px;
    width: 263px;
}
.photo-hover {
    position: relative;
    top: -375px;
    left: 0px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
    text-align: center;
    line-height: 300px;
    display: none;
}
.button-slide3 {
    background-color: #3a454d;
    width: 50px;
    height: 50px;
}
.button-slide3:hover {
    background-color: #23b7a4;
    transition: all 0.4s ease-in-out;
}
.employee-photo:hover .employee-main{
    background-color: #3a454d;
    color: white;
    transition: all 0.4s ease-in-out;
}
.employee-photo:hover .photo-hover {
    display: block;
}
.employee-main {
    background-color: #e1e6ea;
    height: 75px;
    margin-top: -2px;
    padding: 20px;
}
.employee-header {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.emloyee-text {
    font-size: 14px;
}
.slide-black-bg {
    background-color: #3a454d;
}
.slide4-row {
    min-height: 900px;
}
.row-indent-darker {
    background-color: #4e5a62;
}
.quattrocento-white {
    color: white;
}
.lovely-work-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    gap: 30px 0px;
    justify-content: space-between;
}
.lovely-work-img {
    text-align: center;
    margin: 0 auto;
}
.lovely-work-img a {
    text-decoration: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: transparent;
}
.slide4-img-and-hover {
    max-width: 290px;
    height: 214px;
    max-height: 265px;
    margin: 0 auto;
    z-index: 10;
}
.slide4-img-and-hover:hover .lovely-work-hover {
    background-color: rgba(41, 47, 54, 0.5);
    display: block;
}
.lovely-work-hover:hover .lovely-work-hover-text {
    background-color: #292f36;  
    transform: translate3d(0, -48%, 0);
    transition: .5s cubic-bezier(.33, .02, 0, .93) .1s;
}
.lovely-work-img:hover a {
    color: white;
    transition: all 0.2s ease-in-out;
}
.slide4-img-and-hover img {
    max-width: 290px;
}
.lovely-work-hover {
    position: relative;
    top: -217px;
    left: 0px;
    max-width: 360px;
    min-height: 214px;
    background-color: transparent;
    display: none;
} 
.lovely-work-hover-plus {
    position: relative;
    top: 77px;
    left: 0px;
}
.lovely-work-hover-text {
    position: relative;
    top: 133px;
    left: 0px;
    height: 60px;
    width: 290px;
    background-color: transparent;  
    line-height: 60px;
    transform: translate3d(0, 50%, 0);
    transition: .5s cubic-bezier(.33, .02, 0, .93);
    text-align: center;
}
.slide4-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide4-button button {
    width: 150px;
}
.slide5-row {
    min-height: 900px;
    justify-content: center;
}
.slide5-content img {
    margin-bottom: 20px;
}
.slide5-content:hover img {
    transform: scale(1.3);
    transition: 0.5s;
}
.content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 0px;
    justify-content: center;
}
.content-row div {
    text-align: center;
}
.slide5-header-content{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}
.slide5-main-content {
    color: #8d8f92;
    font-size: 16px;
}
.slide6-row {
    min-height: 730px;
    justify-content: center;
}
.slide6-content-row div {
    text-align: center;
}
.slide6-content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0px;
    padding-left: 0;
    padding-right: 0;
}
.slide6-content-row > div > img {
    width: 100%;
    margin: 0 auto;
}
.slide6-header {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.slide6-main {
    font-size: 16px;
    color: #dcdfe1;
    line-height: 25px;
}
.slide6-content {
    display: inline-block;
    overflow: hidden;
}
.slide6-content > img {
    display: block;
}
.slide6-content:hover img {
    transform: scale(1.2);
    transition: 0.8s;
}
.slide7 {
    min-height: 867px;
}
.slide7-row {
    display: flex;
    align-items: flex-start;
}
.slide7-header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0;
}
.slide7-header-indent {
    height: 35px;
}
.slide7-content-header {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}
.slide7-main-content {
    margin-top: 30px;
    line-height: 25px;
}
.form {
    height: 400px;  
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #8d8f92;
    padding: 30px;
}
.slide7-input {
    width: 100%;
    height: 45px;
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}
.email-input {
    margin-top: 10px;
}
.slide7-input-text {
    margin-top: 20px;
}
.row textarea {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-submit {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    padding: 0;
    margin-top: 15px;
    margin-right: 11px;
    border: 2px solid #39a493;
    background-color: #39a493;
    color: white;
}
.input-submit:hover {
    background-color: white;
    color: #39a493;
    transition: 0.5s;
}
.footer {
    background-color: #3a454d;
    color: white;
    font-size: 14px;
}
.footer-row {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-button {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 45px;
}
.footer-button a {
    padding: 15px;
}
.footer-copyright {
    text-align: center;
}
.fotter-contacts {
    text-align: center;
}
.footer-button-tw {
    background-image: url(./images/twitter.png);
    background-repeat: none;
    background-position: center;
}
.footer-button-fb {
    background-image: url(./images/facebook.png);
    background-repeat: none;
    background-position: center;
}
.footer-button-sk {
    background-image: url(./images/skype.png);
    background-repeat: none;
    background-position: center;
}
.footer-button-be {
    background-image: url(./images/be.png);
    background-repeat: none;
    background-position: center;
}
.footer-button-in {
    background-image: url(./images/linkedin.png);
    background-repeat: none;
    background-position: center;
}




/* only mobile - xs */
@media (max-width:767px) {
    .hidden-xs {
        display: none;
    }
    .row-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span {
        height: 1px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: white;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 3px;
    }
    .navigation {
        position: fixed;
        width: 130px;
        max-width: 280px;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(150%);
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top:81px;
        transform: translateX(8%);
    }
    .menu {
        flex-direction: column;
        
    }
    .menu>li {
        border-radius: 0px;
        background-color: #1d2126;
    }
}
@media (min-width:421px) {
    .slide6-content-row > div > img {
        width: 360px;
    }
}
@media (max-width:340px) {
    .button-slide2 {
        width: 50px;
        height: 50px;
    }
    .button-slide2 a {
        padding: 15px 24px;
    }
    .slide2-header {
        font-size: 32px;
    }
}

/* Tablet - sm*/
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .form-search input {
        width: 85px;
    }
    .slide1-btn {
        align-self: flex-start;
    }
    .slider-buttons {
        position: relative;
        top: 150px;
        text-align: center;
    }
    .quattrocento {
        font-size: 36px;
    }
    .btn-row {
        text-align: left;
    }
    .lovely-work-row {
        justify-content: space-around;
    }
    .lovely-work-img {
        margin: 0;
    }
    .email-input {
        margin-top: 0;
    }
    .row textarea {
        height: 160px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px;
    }
    .footer-copyright {
        text-align: left;
    }
    .fotter-contacts {
        text-align: right;
    }
}

/* Laptop - md */
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .menu {
        overflow-x: hidden;
    }
    .form-search input {
        width: 120px;
    }
    .slider-buttons {
        text-align: right;
        margin-right: 100px;
        margin-top: 20px;
    }
    .slide2-list {
        margin-top: 0;
    }
    .quattrocento {
        font-size: 36px;
    }
    .slide4-button {
        margin-top: 50px;
    }
    .slide6-content-row div {
        text-align: left;
    }
    .slide6-content-row > div > img {
        width: 310px
    }
    .slide7-header {
        height: 160px;
    }
    .form {
        top: 0px;
    }

}
/* Desktop - lg */
@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    .menu {
        overflow-x: auto;
    }
    .quattrocento {
        font-size: 36px;
    }
    .row-indent {
        margin-top: 0px;
    }
    .slide4-img-and-hover img {
        max-width: 360px;
    }
    .slide4-img-and-hover {
        min-width: 360px;
        min-height: 265px;
        margin: 0 auto;
    }
    .lovely-work-hover {
        top: -269px;
        min-height: 265px;
    } 
    .lovely-work-hover-plus {
        position: relative;
        top: 90px;
        left: 0px;
    }
    .lovely-work-hover-text {
        position: relative;
        top: 185px;
        left: 0px;
        height: 60px;
        width: 360px;
        padding-left: 20px;
        text-align: left;
    }
    .slide6-content-row > div > img {
        width: 360px
    }
}

