* {
    box-sizing: border-box;
}
.header {
    background-color: #1d2126;
    color: #a4aead;
}

/* mobile - xs  */
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    height: 81px;
    align-items: center;
}
.menu {
    display: flex;
    overflow-x: scroll;
    font-size: 14px;
}
.menu > li {
    border: 1px solid #1d2126;
    border-radius: 5px;
    margin-right: 10px;
}
.menu > li:hover {
    border: 1px solid #575d64;
    border-radius: 5px;
}
.menu > li:active {
    border: 1px solid #39a493;
    border-radius: 5px;
}
.menu > li > a {
    display: block;
    padding: 8px 9px;
    text-decoration: none;
    color: #a4aead;
}
.menu > li > a:active {
    color: #39a493;
}
.search {
    border: 1px solid #3c4147;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}
.form-search {
    display: flex;
    padding: 4px 8px;
}
.form-search input {
    background-color: transparent;
    border: none;
    width: 150px;
    outline: none;
    color: #a4aead;
}
.form-search button {
    height: 25px;
    width: 30px;
    border: none;
    background-image: url(images/seacrh.png);
    background-repeat: none;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}
.slide1 {
    height: 660px;
    background-image: url(images/slide1.png);
    background-size: cover;
    background-position: center center;
}
.slide1-main > div {
    margin-left: -15px;
    margin-right: -15px;
}
.slide1-main {
    max-height: 660px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding-top: 180px;
}
.quattrocento {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
.regular-text {
    color: #a4aead;
    font-size: 16px;
}
.slide1-btn {

}
.button {
    width: 110px;
    height: 40px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
    margin-right: 11px;
}
.button a {
    color: white;
    text-decoration: none;
    padding: 9px 9px;
}
.button:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
}
.slider-buttons {
    position: relative;
    top: 5px;
    text-align: center;
}
.slider-buttons > button {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 100px;
    height: 14px;
    width: 10px;
}
.slider-buttons > button:active {
    background-color: white;
}

.slide2 {
    height: 619px;
}
.slide2-main {
    padding-top: 70px;
}
.row-indent {
    display: flex;
}
.indent {
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    margin-right: 14px;
}
.slide2-header {
    margin-bottom: 30px;
}
.slide2-text p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.slide2-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
span {
    font-weight: bold;
    color: #8d8f92;
}
.btn-row {
    text-align: center;
}
.button-slide2 {
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #c8cdd0;
    padding: 0;
    margin-right: -3px;
}
.button-slide2:hover {
    background-color: #747779;
}
.button-slide2 a {
    padding: 19px 29px;
}
.button-fb {
    background-image: url(./images/facebook.png);
    background-repeat: none;
    background-position: center;
}
.button-twitter {
    background-image: url(./images/twitter.png);
    background-repeat: none;
    background-position: center;
}
.button-google {
    background-image: url(./images/google.png);
    background-repeat: none;
    background-position: center;
}
.button-ball {
    background-image: url(./images/ball.png);
    background-repeat: none;
    background-position: center;
}
.button-be {
    background-image: url(./images/be.png);
    background-repeat: none;
    background-position: center;
}
.slide2-list {
    margin-top: 40px;
}
.row-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.green-bg {
    height: 50px;
    min-width: 50px;
    background-color: #23b7a4;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}
.quattrocento-smaller {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* only mobile - xs */
@media (max-width:767px) {
    .hidden-xs {
        display: none;
    }
    .slide1-main {
        padding-top: 150px;
    }
}
@media (max-width:340px) {
    .button-slide2 {
        width: 50px;
        height: 50px;
    }
    .button-slide2 a {
        padding: 15px 24px;
    }
    .slide2-header {
        font-size: 32px;
    }
    .slide1-btn {
        
    }
}

/* Tablet - sm*/
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .form-search input {
        width: 85px;
    }
    .slide1-main {
        padding-top: 230px;
    }
    .slider-buttons {
        position: relative;
        top: 150px;
        text-align: center;
    }
    .btn-row {
        text-align: left;
    }
    .slide2-main {
        padding-top: 100px;
    }

}
/* Laptop - md */
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .menu {
        overflow-x: hidden;
    }
    .form-search input {
        width: 120px;
    }
    .slider-buttons {
        text-align: right;
        margin-right: 100px;
        margin-top: 20px;
    }
    .slide2-list {
        margin-top: 0;
    }
    .slide2-main {
        padding-top: 130px;
    }
}
/* Desktop - lg */
@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .menu {
        overflow-x: auto;
    }
}

